body{
    width: 900px;
    margin: auto;
}

main {
    
}

header section{
    display: flex;
    flex-flow: row;
}

header section div{
    width: 50%;
}

#logoImg{
    position: relative;
    float: left;
    margin: 30px 15px ;
}

#line-of-images {
    display: flex;
    flex-flow: row;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    

}
#line-of-images img {
    width: 30px;
    height: 30px;
    padding: 1px;
    
}

#line-of-images img:nth-of-type(6) {
    padding-right: 10px;
}

.stripe-background {
                
    background-image:url("./img/hr-img.png");
    background-repeat:repeat;
    height: 10px;
    z-index: 1;
}

#main-header {
    display: flex;
    flex-flow: row;
    padding-bottom: 30px;   
}
#main-header h2 {
    font-size: 2rem;
    font-weight: bold;
}

#main-header div {
    width: 50%;
    
}

#print-logo {
    text-align: right;
    position: relative;
    
}

#print-logo p{
    position: relative;
    font-size: 0.75rem;
    margin: 5px;
    top: 55px;
}

#print-logo img{
    margin-right: 5px;
}

#blog {
    padding: 20px 0px;
    text-indent: 2em;
}

#recipe {
    display: flex;
    flex-flow: row;
    text-align: justify;
    align-items: center;
    justify-content: space-around;
    background-image: url("./img/list-bg.png");
    background-repeat: repeat-y;
    height: 300px;
   
}
#recipe ul {
    /* list-style: square; */
    list-style-image: url("./img/checkBox2.png");
    font-size: 1.5rem;
    background-size: 5px 5px;
    background-repeat: no-repeat;
    padding-bottom: 33px;  
     
}

#recipe ul:last-of-type {
width: 430px;
padding-top: 24px;
text-align: start;
     
}
#recipe ul li {
    /* padding-top: 4px; */
    padding-bottom: 8px;
    
}

#second-stripe {
    margin: 20px 0px;
}

#main-footer{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#main-footer div:nth-of-type(2){
    margin-left: 10px;
    width: 545px;
}

button{
    background-color: rgb(189, 112, 87);
    margin-top: 10px;
    width: 190px;
    height: 55px;
    color: white;
    border: 1px solid rgb(189, 112, 87);
    margin-left: 72px;
}

h4{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
}

p{
    font-size: 1.2rem;
}

footer{
    border-top: 2px solid rgb(172, 172, 172);
    position: relative;
}

footer img{
    position: absolute;
    left: 420px;
    top: -30px;
}

footer p{
    text-align: center;
    margin: 12px;
    font-size: 0.8rem;
}

footer p:first-of-type{
    margin-top: 25px;
}



